<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sih.policeapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NOCdetails"></activity>
        <activity android:name=".UserProfile" />
        <activity android:name=".FirDetails" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppointmentsHandeling" />
        <activity android:name=".Activities.Weather" />
        <activity android:name=".Activities.wanted_activity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PoliceProfile" />

        <receiver
            android:name=".Broadcasters.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AddSingleCrime"
            android:label="@string/title_activity_add_single_crime"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CriminalProfile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Activities.Beats" />

        <service
            android:name=".Services.MyService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.sih.policeapp.LONGRUNSERVICE" />
            </intent-filter>
        </service>
        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".AddNewCriminalDetails"
            android:parentActivityName=".AddCriminalActivity">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="face" />
            <!-- To use multiple models: android:val ue="face,model2,model3" -->
        </activity>
        <activity
            android:name=".AddCriminalActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activities.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name=".Broadcasters.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Broadcasters.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.MyService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.sih.policeapp.LONGRUNSERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.MyService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.sih.policeapp.LONGRUNSERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>